
* {
    margin: 0%;
    padding: 0%;
    font-family: "Figtree";
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(250, 250, 98);
}
header {
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 9px 7px 1px black;
    background-color: aliceblue;
}
header > img {
    display: block;
    width: 350px;
    margin: 15px auto;
    border-radius: 20px;
}
header > button {
    background-color: rgb(194, 194, 76);
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 4px 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: none;
    cursor: pointer;
}
header > p {
    margin-left: 20px;
    margin-bottom: 15px;
}
header > h1 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
}
header > .descricao {
    margin-left: 20px;
    margin-bottom: 15px;
    color: rgb(141, 138, 138);
    width: 350px;
    text-align: justify;
    font-size: 16px;
}
.icone {
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.icone > img {
    width: 50px;
    display: inline-block;
}
.icone > p {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    text-decoration: underline;
}