@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
* {
    padding: 0%;
    margin: 0%;
    color: aliceblue;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}
:root {
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}
body {
    height: 98dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--Very-dark-blue);
}
.conteudo {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}
#cabeca {
    background-color: var(--Dark-blue);
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 10px;
}
#cabeca img {
    width: 4rem;
    border: 2px solid white;
    border-radius: 50%;
}
#cabeca span {
    display: block;
    margin-top: 1.5rem;
}
#pessoa {
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--Blue);
}
h1 {
    margin-bottom: 2rem;
    padding-right: 5rem;
}
ul {
    list-style-type: none;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
a.desativado, a {
    text-decoration: none;
    color: var(--Desaturated-blue);
}
a.ativo {
    color: white;
}

.work {
    background-color: var(--Light-red-work);
    background-image: url(images/icon-work.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.play {
    background-color: var(--Soft-blue-play);
    background-image: url(images/icon-play.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.study {
    background-color: var(--Light-red-study);
    background-image: url(images/icon-study.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.exercice {
    background-color: var(--Lime-green-exercise);
    background-image: url(images/icon-exercise.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.social {
    background-color: var(--Violet-social);
    background-image: url(images/icon-social.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.self-care {
    background-color: var(--Soft-orange-self-care);
    background-image: url(images/icon-self-care.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 20%;
}
.fundo {
    border-radius: 10px;
    overflow: hidden;
}
.subtitulo {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--Dark-blue);
    border-radius: 10px;
}
h2 {
    font-size: 18px;
    display: inline;
    font-weight: 500;
}
h3 {
    font-size: 50px;
    margin-top: 1rem;
}
p {
    margin-bottom: 1.7rem;
    color: var(--Desaturated-blue);
}
.subtitulo img {
    float: right;
}
/* Media */
@media (max-width: 860px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: auto;
    }
    body {
        height: 100dvh;
        display: block;
        background-color: var(--Very-dark-blue);
    }
    #pessoa {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 1.5rem;
        background-color: var(--Blue);
    }
    h1 {
        margin-bottom: 2rem;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    li {
        margin: 1rem;
    }
}