* {
    margin: 0%;
    padding: 0%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(182, 241, 245);
}
div {
    background-color: rgb(255, 255, 255);
    width: 27%;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
}
img {
    width: 350px;
    margin:  20px auto;
    display: block;
    border-radius: 12px;
}
h1 {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    font-family: monospace;
}
p {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 5px 0px;
    color: rgb(68, 68, 68);
}
