@media screen and (min-width:1000px) {
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: content-box;
    }
    @font-face {
        font-family: 'OutFit';
        src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    }
    @font-face {
        font-family: 'YoungSerif';
        src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: rgba(237, 252, 202, 0.678);
    }
    header {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 50%;
        background-color: aliceblue;
        margin-top: 40px;
        padding: 3.5% 3.5% 0 3.5%;
    }
    header img {
        width: 100%;
        margin: auto;
        margin-bottom: 3.5%;
        border-radius: 15px;
    }
    header > h1 {
        margin-bottom: 3%;
        font-family: "YoungSerif";
    }
    header > p {
        line-height: 1.5em;
    }

    main {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 50%;
        padding: 3.5%;
        background-color: aliceblue;
        margin-bottom: 40px;
    }
    div.preparacao {
        background-color: rgb(238, 230, 221);
        padding: 3.5%;
        margin-bottom: 3%;
        width: auto;
    }
    div.preparacao > h3 {
        margin-bottom: 2%;
        font-family: "OutFit";
        color: #B12941;
    }
    div.preparacao > ul {
        margin-left: 30px;
        font-family: "OutFit";
    }
    div.preparacao > ul > li {
        margin: 10px 0px;
        padding-left: 20px;
        color: rgb(31, 6, 6);
        line-height: 1.5em;
    }

    div.modo {
        margin-top: 10%;
    }
    div.modo > h2 {
        font-family: "YoungSerif";
        color: #6b1f01;
        margin-bottom: 2%;
        margin-top: 30px;
        font-weight: 400;
    }
    div.modo > ul {
        margin-left: 30px;
        margin-bottom: 30px;
        font-family: "OutFit";
    }
    div.modo > ul > li {
        margin: 10px 0px;
        padding-left: 15px;
        color: rgb(31, 6, 6);
        text-align: left;
        line-height: 1.5em;
    }
    div.modo > ul.instrucao > li {
        list-style-type: decimal;
        line-height: 1.5em;
    }
    div.modo > p {
        font-family: 'OutFit';
    }

    table{
        border-collapse: collapse;
        width: 100%;
    }
    td, th{
        border-bottom: 1px solid rgb(68, 45, 3);
        padding: 10px;
        text-align: left;
    }

    hr {
        color: rgba(237, 252, 202, 0.678);
        background-color: rgba(237, 252, 202, 0.678);
    }
}